registry=https://nexus.global.lmco.com/repository/npm-proxy/
always-auth=true
cafile=C:\\certs\\Combined_pem.pem
//nexus.global.lmco.com/repository/npm-proxy/:_auth=ZTQyMDExMzpCRGxzclJpTEFaYm1VNHU0ZFI4TzZQenozZHNHalU=
legacy-peer-deps=true